.container-semTarefa {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  max-width: 450px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  font-family: Arial, sans-serif;
}

.container-semTarefa h2 {
  margin-top: 0;
  color: #0055cc;
  font-size: 22px;
}

.container-semTarefa button {
  padding: 0.8rem 1.3rem;
  min-width: 130px;
  background-color: #234daf;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.2s;
  margin-bottom: 10px;
}
.container-semTarefa button:hover {
  background-color: rgb(7, 7, 93);
}

.agenda-page {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

/* Caixa branca */
.container-branco {
  max-width: 450px;
  width: 100%;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  text-align: center;
}

/* Título principal */
#listaTarefas {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

/* Títulos*/
.container-branco p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

/* Form */
.container-branco form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Selects */
.container-branco select {
  width: 100%;
  max-width: 350px;
  padding: 0.55rem 0.75rem;
  border: 1px solid #bbb;
  border-radius: 8px;
  background: #f5f5f5;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Select focus */
.container-branco select:focus {
  border-color: #234daf;
  background: #fff;
  outline: none;
}

/* Botões*/
.container-branco input[type="submit"] {
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  margin-top: 1rem;
  background-color: #234daf;
  color: #fff;
}
.container-branco input[type="submit"]:hover {
  background-color: rgb(7, 7, 93);
}

.container-branco button {
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  margin-top: 1rem;
  background-color: #234daf;
  color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .container-branco {
    margin: 1rem;
    padding: 1.5rem;
  }

  #listaTarefas {
    font-size: 1.4rem;
  }

  .container-branco select {
    max-width: 100%;
  }
}
